# --- Security (WAJIB) ---
.env
.env.local
config.yaml

# --- Golang System ---
vendor/
go.work
go.work.sum

# --- Binary/Build Output ---
*.exe
*.dll
main
recruitment-backend
dist/
bin/

# --- IDE/Editor ---
.vscode/
.idea/
*.swp
.DS_Store

# --- OS Specific ---
Thumbs.db

# --- test file ---
test.exe
fake.jpg

# --- Internal Documentation ---
docs/security/
scripts/
